body {
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
	font-size: rem;
}

section {
	padding: 2rem 0;
}

.container {
	padding: 2rem 3rem;
	height: 100%;
}

.hero-img {
	position: absolute;
	background-color: #d8b6ad;
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: -2;
	animation: introLoad 2s forwards;
	// overflow: hidden;
}

.hero-shoe {
	position: absolute;
	bottom: -15%;
	width: 100%;
	height: 100%;
	background: url('../img/hero-img.png');
	background-size: 700px;
	background-repeat: no-repeat;
	background-position: 100px center;
	// z-index: 200;
}

// NAV BAR

header {
	margin-bottom: 6.8rem;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		color: #000;
		font-weight: 700;
		font-size: 2rem;
	}

	ul {
		position: fixed;
		right: 0;
		top: 0;
		background: #fff;
		height: 100%;
		width: 50%;
		z-index: 999;
		text-transform: uppercase;
		padding-top: 10rem;
		transform: translateX(100%);
		transition: transform 500ms ease-in-out;

		a {
			font-size: 1.6rem;
			color: #000;
			width: 100%;
			padding: 0.8rem 3.2rem;
			display: block;
			transition: 200ms ease;

			&:hover {
				background-color: rgb(221, 221, 221);
			}
		}

		.close {
			position: absolute;
			top: 1.6rem;
			right: 1.6rem;
			width: 2.4rem;
		}
	}

	svg {
		width: 3rem;
		fill: #000;
		cursor: pointer;
	}
}

.section-hero {
	height: 90%;
	animation: moveDown 1s ease-in-out forwards;
	opacity: 0;
	position: relative;

	h1 {
		font-size: 3.8rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 3.2rem;
	}
	.subhead {
		font-size: 1.6rem;
	}

	.down-arrow {
		position: absolute;
		width: 1.6rem;
		bottom: 7rem;
		animation: moveArrow 1s alternate-reverse infinite;
	}
}

.more-info {
	padding: 4.8rem 0;
	.feature {
		margin-bottom: 2.4rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	img {
		width: 100%;
		object-fit: cover;
		height: 25rem;
	}

	.title {
		font-weight: 700;
		font-size: 1.8rem;
		margin-bottom: 0.8rem;
	}

	.description {
		font-size: 1.2rem;
		margin-bottom: 1.6rem;
	}
}

.open-nav {
	transform: translateX(0%);
}

@media only screen and(min-width:680px) {
	.container {
		padding: 2rem 6rem;
	}

	.hero-shoe {
		position: absolute;
		bottom: -7.5%;
		right: -10%;
		width: 100%;
		height: 100%;
		background: url('../img/hero-img.png');
		background-size: 600px;
		background-repeat: no-repeat;
		background-position: right center;
		// z-index: 200;
	}
}

@media only screen and(min-width: 800px) {
	.hero-img {
		position: absolute;
		top: 0;
		left: 0;

		background-size: cover;
		background-position-x: -20%;
		background-position-y: 180px;
		width: 100%;
		height: 100%;
		z-index: -1;
		// overflow: hidden;
	}
}

@media only screen and(min-width: 920px) {
	.menu {
		display: none;
	}

	nav {
		ul {
			transform: translateX(0);
			position: unset;
			display: block;
			width: auto;
			height: auto;
			background: none;
			display: flex;
			margin: 0;
			padding: 0;
			font-weight: 500;
			gap: 4.8rem;

			a {
				padding: 0;

				&:hover {
					background: none;
					text-decoration: underline;
				}
			}
		}

		svg.close {
			display: none;
		}
	}

	.section-hero {
		height: 90%;
		width: 50%;
		padding-right: 6rem;

		h1 {
			font-size: 5rem;
			font-weight: 700;
			line-height: 1;
			margin-bottom: 3.2rem;
		}
		.subhead {
			font-size: 2rem;
		}
	}

	.hero-img {
		left: unset;
		right: 0;
		width: 50%;
		height: 60rem;
	}
	.hero-shoe {
		position: absolute;
		bottom: 15%;
		right: -10%;
		width: 100%;
		height: 100%;
		background: url('../img/hero-img.png');
		background-size: 60%;
		background-repeat: no-repeat;
		background-position: right center;
		// z-index: 200;
	}

	.more-info {
		.feature {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 6rem;
			margin-bottom: 6rem;

			.content {
				text-align: right;
			}
		}

		.feature.left {
			grid-template-areas: 'left right';
			img {
				grid-area: left;
			}
			.content {
				text-align: left;
			}
		}

		.feature {
			.title {
				font-size: 4rem;
			}
			.description {
				font-size: 1.4rem;
				line-height: 1.8;
			}
		}
	}
}

@media only screen and (min-width: 1193px) {
	.section-hero {
		h1 {
			font-size: 6.8rem;
			margin-bottom: 5rem;
		}
	}

	.hero-shoe {
		position: absolute;
		bottom: -2.5%;
		right: -15%;
		width: 100%;
		height: 100%;
		background: url('../img/hero-img.png');
		background-size: 60%;
		background-repeat: no-repeat;
		background-position: right center;
		// z-index: 200;
	}
}

@keyframes introLoad {
	from {
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	to {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}

@keyframes moveDown {
	from {
		transform: translateY(-100px);
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes moveArrow {
	from {
		transform: translateY(-10px);
	}
	to {
		transform: translateY(0);
	}
}
