body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  font-size: rem;
}

section {
  padding: 2rem 0;
}

.container {
  padding: 2rem;
  height: 100%;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/hero-img.png");
  background-color: #d8b6ad;
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 180px;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-animation: introLoad 2s forwards;
          animation: introLoad 2s forwards;
}

header {
  margin-bottom: 6.8rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  color: #000;
  font-weight: 700;
  font-size: 2rem;
}

nav ul {
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  height: 100%;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  padding-top: 10rem;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

nav ul a {
  font-size: 1.6rem;
  color: #000;
  width: 100%;
  padding: 0.8rem 3.2rem;
  display: block;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

nav ul a:hover {
  background-color: #dddddd;
}

nav ul .close {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 2.4rem;
}

nav svg {
  width: 3rem;
  fill: #000;
  cursor: pointer;
}

.section-hero {
  height: 90%;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
}

.section-hero h1 {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 3.2rem;
}

.section-hero .subhead {
  font-size: 1.6rem;
}

.section-hero .down-arrow {
  position: absolute;
  width: 1.6rem;
  bottom: 7rem;
  animation: moveArrow 1s alternate-reverse infinite;
}

.more-info .feature {
  margin-bottom: 2.4rem;
}

.more-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 25rem;
}

.more-info .title {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.more-info .description {
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}

@media only screen and (min-width: 500px) {
  .container {
    padding: 2rem 3rem;
  }
}

@media only screen and (min-width: 680px) {
  .container {
    padding: 2rem 6rem;
  }
}

@media only screen and (min-width: 800px) {
  .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position-x: -20%;
    background-position-y: 180px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  nav ul {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    font-weight: 500;
    gap: 4.8rem;
  }
  nav ul a {
    padding: 0;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
  nav svg.close {
    display: none;
  }
  .section-hero {
    height: 90%;
    width: 50%;
    padding-right: 6rem;
  }
  .section-hero h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 3.2rem;
  }
  .section-hero .subhead {
    font-size: 2rem;
  }
  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 60rem;
    background-size: 1000px;
    background-attachment: scroll, fixed;
    background-repeat: no-repeat;
    background-position: 200px 0;
  }
  .more-info .feature {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
    margin-bottom: 6rem;
  }
  .more-info .feature .content {
    text-align: right;
  }
  .more-info .feature.left {
        grid-template-areas: 'left right';
  }
  .more-info .feature.left img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
  }
  .more-info .feature.left .content {
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

@-webkit-keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveArrow {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveArrow {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=main.css.map */